body{
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  max-width: 1024px;
}

img{
  width: 500px;
  height: 500px;
  border: 1px solid black;
  border-radius: 20px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  filter: grayscale(100%);
}
img:hover{
	filter: grayscale(0);
	transition: .3s ease-in-out;
  border: 10px solid white;
}
h1{
  margin-top: 3em;
}

.gallery > * {
  margin: 2em;
}